:root {
    /* Fonts */
    --primary-font: Inter, sans-serif;
    /* Text color */
    --main-text-color: #1D1D1F;
    --sec-text-color: #838383;
    --logo-text-color: #FFFFFF;

}

/* Base styles */

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
}

/* reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

/* reset end */


.container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
    padding-right: 200px;
    
    outline: 2px solid red;
    outline-offset: -2px;
}

.btn {
    min-width: 180px;
    min-height: 60px;
    padding: 20px 60px;
    
    font-family: inherit;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--logo-text-color);
    /* border: none; */
    
}

.btn-dark {
    color: var(--logo-text-color);
    background-color: var(--main-text-color);
}

.uppertitle {
    font-family: inherit;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
}

.uppertitle-light {
    color: var(--logo-text-color);
}

.subtitle {
    font-family: inherit;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    color: var(--sec-text-color);
}

.script {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* Header styles */

.header {
    background-color: var(--main-text-color);
    
}

.header-container {
    display: flex;
    align-items: center;
}

.header-search {
    margin-right: 35px;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 35px;
    
}

.header-nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    
    color: var(--logo-text-color);
}

.header-logo {
    margin-right: 606px;
    
    /* font-family: inherit;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3; */
    
    /* color: var(--logo-text-color); */
}

.nav-list {
    color: var(--logo-text-color);
    
}

/* Hero style */

.hero  {
    /* height: 900px; */
    /* max-width: 1600px; */
    
    background-image: url(../images/Cover/Cover.jpg);
    background-color: var(--sec-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-title {
    margin-bottom: 30px;
    padding-top: 260px;
    
    width: 936px;
    
    color: var(--logo-text-color);
    font-weight: 600;
    font-size: 96px;
    line-height: 1.22;
}

.hero-subtitle {
    margin-bottom: 50px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--logo-text-color);
}

.btn-light {
    margin-bottom: 212px;
}

/* About style */

.about-section {
   padding-top: 190px;
   padding-bottom: 190px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-list  {
    display: flex;
    flex-direction: column;

    gap: 60px;
}

.about-subtitle {
    font-family: inherit;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
}

.about-num {
    font-family: inherit;
    font-weight: 300;
    font-size: 64px;
    line-height: 140%;
}

.about-script {
    /* font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; */
    color: var(--sec-text-color)
}

.about-right-side {
    display: flex;
    flex-direction: column;
    /* max-width: 570px; */
    max-width: 561px;
}

.about-subtitle {
    margin-bottom: 60px;
}

.about-script-one {
    margin-bottom: 32px;
}

/* Videoplayer style */

.videoplayer {
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
    height: 630px;
    /* background-size: 1200px 630px; */
    background-image: url(../images/player/Rectangle-4.jpg);
    background-color: var(--sec-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Offer style*/

.offer-section {
    padding-top: 190px;
    padding-bottom: 190px;
 }

.offer-list {
    display: flex;
    gap: 60px;
}

.offer-subtitle {
    margin-bottom: 20px;
}

.offer-script {
    margin-bottom: 60px;
}

.offer-item {
    width: 570px;
}

.offer-left-side {
    margin-top: 89px;
}

.offer-left-side > .offer-item {
    margin-bottom: 209px;
}

.offer-right-item {
    margin-top: 209px;
}

.offer-item {
    /* display: flex; */
    /* padding-top: 89px;
    padding-bottom: 89px; */
}

.offer-left-side {
    /* display: flex; */
    /* padding-top: 89px;
    padding-bottom: 89px; */
}

/*.offer-rigt-side {
    padding-top: 89px;
    padding-bottom: 89px;
} */


/* Citation style */

.citation-wrapp {
    display: block;
    width: 820px;
}

.citation-script {
    margin-bottom: 50px;
}

.citation-subtitle {
    margin-bottom: 30px;
    padding-right: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.5;
}

.citation-major {
    color: var(--sec-text-color);
}

/* Slider style */

.slider-section {
    height: 900px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: url(../images/Slayder/Rectangle-7.jpg);
    background-color: var(--sec-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* Service style */
.service-section {
    padding-top: 190px;
    padding-bottom: 190px;
}

.service-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.service-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service-script {
    width: 570px;
    color: var(--sec-text-color);
}

/* Footer style */

.footer {
    background-color: #838383;
}