:root {
    /* Fonts */
    --primary-font: Inter, sans-serif;
    /* Text color */
    --main-text-color: #1D1D1F;
    --sec-text-color: #838383;
    --logo-text-color: #FFFFFF;

}

/* Base styles */

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
}

/* reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

/* reset end */


.container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
    padding-right: 200px;
    
    /* outline: 2px solid red; */
    /* outline-offset: -2px; */
}

.btn {
    min-width: 180px;
    min-height: 60px;
    padding: 20px 60px;
    
    font-family: inherit;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--logo-text-color);
    /* border: none; */
    
}

.btn-dark {
    color: var(--logo-text-color);
    background-color: var(--main-text-color);
}

.uppertitle {
    font-family: inherit;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
}

.uppertitle-light {
    color: var(--logo-text-color);
}

.subtitle {
    font-family: inherit;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    color: var(--sec-text-color);
}

.script {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* Header styles */

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    
    width: 100%;
    padding-top: 40px;
    padding-bottom: 37px;
    
    background-color: rgba(131, 131, 131, 0.3);
}

.header-container {
    display: flex;
    align-items: center;
}

/* .header-search {
} */

.header-icon {
    margin-right: 35px;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 35px;
    
}

.header-nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    
    color: var(--logo-text-color);
}

.header-logo {
    margin-right: 606px;
    
    /* font-family: inherit;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3; */
    
    /* color: var(--logo-text-color); */
}

.nav-list {
    color: var(--logo-text-color);
    
}

/* Hero style */

.hero  {
    padding-top: 260px;
    padding-bottom: 212px;
    
    background-image: url(../images/Cover/Cover.jpg);
    background-color: var(--sec-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-title {
    margin-bottom: 30px;
    
    width: 936px;
    
    color: var(--logo-text-color);
    font-weight: 600;
    font-size: 96px;
    line-height: 1.22;
}

.hero-subtitle {
    margin-bottom: 50px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--logo-text-color);
}

.btn-light {
    border: none;
}

/* About style */

.about-section {
   padding-top: 190px;
   padding-bottom: 190px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-list  {
    display: flex;
    flex-direction: column;

    gap: 60px;
}

.about-subtitle {
    font-family: inherit;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
}

.about-num {
    font-family: inherit;
    font-weight: 300;
    font-size: 64px;
    line-height: 1.4;
}

.about-script {
    /* font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; */
    color: var(--sec-text-color)
}

.about-right-side {
    display: flex;
    flex-direction: column;
    max-width: 561px;
}

.about-subtitle {
    margin-bottom: 60px;
}

.about-script-one {
    margin-bottom: 32px;
}

/* Videoplayer style */

.videoplayer {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
    height: 630px;
    background-image: url(../images/player/Rectangle-4.jpg);
    background-color: ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.videoplayer-container {
    width: 100%;
    height: 100%;
}

.videoplayer-icon {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

/* Offer style*/

.offer-section {
    padding-top: 190px;
    padding-bottom: 190px;
 }

.offer-list {
    display: flex;
    gap: 60px;
}

.offer-subtitle {
    margin-bottom: 20px;
}

.offer-script {
    margin-bottom: 60px;
}

.offer-item {
    width: 570px;
}

.offer-left-side {
    margin-top: 89px;
}

.offer-left-side > .offer-item {
    margin-bottom: 209px;
}

.offer-right-item {
    margin-top: 209px;
}

.offer-item {
    /* display: flex; */
    /* padding-top: 89px;
    padding-bottom: 89px; */
}

.offer-left-side {
    /* display: flex; */
    /* padding-top: 89px;
    padding-bottom: 89px; */
}

/*.offer-rigt-side {
    padding-top: 89px;
    padding-bottom: 89px;
} */


/* Citation style */

.citation-section {
   padding-bottom: 190px; 
}

.citation-wrapp {
    display: block;
    width: 820px;
}

.citation-script {
    margin-bottom: 50px;

    color: var(--sec-text-color);
}

.citation-subtitle {
    margin-bottom: 30px;
    padding-right: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.5;
}

.citation-major {
    color: var(--sec-text-color);
}

/* Slider style */

.slider-section {
    height: 900px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: url(../images/Slayder/Rectangle-7.jpg);
    background-color: var(--sec-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-icon-l {
    position: absolute;
    /* top: calc(50% - 570px); */
    top: calc(50% - 30px);
    left: 200px;
}

.slider-icon-r {
    position: absolute;
    top: calc(50%  - 30px);
    left: 1430px;
}

/* Service style */
.service-section {
    padding-top: 190px;
    padding-bottom: 190px;
}

.service-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
}

.service-list-item {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid rgba(29, 29, 31, 0.4);

}

.service-script {
    width: 570px;
    color: var(--sec-text-color);
}

/* Footer style */

.footer-container {
    padding-top: 90px;
    padding-bottom: 126px;
    background-color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 70px;
}

.footer-script {
    margin-bottom: 30px;
    color: var(--sec-text-color);
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-social {

}

.footer-mail {

}

.footer-subtitle {
    margin-bottom: 30px;
    width: 500px;
}

.input-mail {
    min-width: 570px;
    font-family: inherit;
    font-weight:700;
    font-size: 16px;
    line-height: 1.58;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--sec-text-color);

    border-bottom: 1px solid var(--sec-text-color);
}

.form-email {
    display: block;
}

.form-wrapp {
    position: relative;

}

.form-input {
    min-width: 570px;
    height: 44px;
    /* padding: 4px; */

    color: var(--sec-text-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--sec-text-color);
}
 
.form-scribe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: inherit;
    font-weight:700;
    font-size: 16px;
    line-height: 1.58;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--sec-text-color);

    
}

.form-icon {
    position: absolute;
    top: 0;
    right: 0;
}